<!DOCTYPE html>
<html>
<head>
  <title>Die Test Suite</title>
  <link href="../vendor/qunit.css" rel="stylesheet" />
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture">
    <div id="map-test">
      <div id="id1"></div>
      <div id="id2"></div>
    </div>
  </div>
  <br>

  <script type="text/html" id="template">
    <%
    // a comment
    if (data) { data += 12345; }; %>
    <li><%= data %></li>
  </script>

  <script src="../vendor/jquery.js"></script>
  <script src="../vendor/qunit.js"></script>
  <!-- <script src="vendor/jslitmus.js"></script> -->
  <script src="../die.js"></script>

  <script src="basic.js"></script>
  <script src="inheritance.js"></script>

</body>
</html>
