<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Die</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="assets/style.css" rel="stylesheet" />
</head>

<body>
  <h1>Die</h1>
  <p>
    Die is a amalgamation
    of <a href="http://en.wikipedia.org/wiki/ERuby">eRuby</a>
    and <a href="http://jinja.pocoo.org/">Jinja</a> templates. The
    implementation of the templating engine is derived from
    Underscore.js, but features from Jinja such as template
    inheritance, blocks, includes, and macros.
  </p>

  <h2 class="sig">Die.template(templateString, [data], [settings])</h2>
  <p>
    Compiles JavaScript templates into functions that can be evaluated
    for rendering. Useful for rendering complicated bits of HTML from
    JSON data sources. Template functions can both interpolate
    variables, using <tt>&lt;%= &hellip; %&gt;</tt>, as well as
    execute arbitrary JavaScript code, with <tt>&lt;% &hellip;
    %&gt;</tt>. If you wish to interpolate a value, and have it be
    HTML-escaped, use <tt>&lt;%- &hellip; %&gt;</tt> When you evaluate
    a template function, pass in a <b>data</b> object that has
    properties corresponding to the template's free variables. If
    you're writing a one-off, you can pass the <b>data</b> object as
    the second parameter to <b>template</b> in order to render
    immediately instead of returning a template function.
    The <b>settings</b> argument should be a hash containing
    any <tt>Die.templateSettings</tt> that should be overridden.
  </p>

<pre class="prettyprint linenums language-js">
var compiled = Die.template("hello: &lt;%= name %&gt;");
compiled({name : 'moe'});
=&gt; "hello: moe"

var list = "&lt;% Die.each(people, function(name) { %&gt; &lt;li&gt;&lt;%= name %&gt;&lt;/li&gt; &lt;% }); %&gt;";
Die.template(list, {people : ['moe', 'curly', 'larry']});
=&gt; "&lt;li&gt;moe&lt;/li&gt;&lt;li&gt;curly&lt;/li&gt;&lt;li&gt;larry&lt;/li&gt;"

var template = Die.template("&lt;b&gt;&lt;%- value %&gt;&lt;/b&gt;");
template({value : '&lt;script&gt;'});
=&gt; "&lt;b&gt;&amp;lt;script&amp;gt;&lt;/b&gt;"</pre>

  <p>
    You can also use <tt>print</tt> from within JavaScript code.
    This is sometimes more convenient than using <tt>&lt;%=
      ... %&gt;</tt>.
  </p>

<pre class="prettyprint linenums language-js">
var compiled = Die.template("&lt;% print('Hello ' + epithet); %&gt;");
compiled({epithet: "stooge"});
=&gt; "Hello stooge."</pre>

  <p>
    If eRuby-style delimiters aren't your cup of tea, you can change
    Underscore's template settings to use different symbols to set
    off interpolated code.  Define an <b>interpolate</b> regex to
    match expressions that should be interpolated verbatim,
    an <b>escape</b> regex to match expressions that should be
    inserted after being HTML escaped, and an <b>evaluate</b>
    regex to match expressions that should be evaluated without
    insertion into the resulting string. You may define or omit
    any combination of the three.  For example, to perform
    <a href="http://github.com/janl/mustache.js#readme">Mustache.js</a>
    style templating:
  </p>

<pre class="prettyprint linenums language-js">
Die.templateSettings = {
  interpolate : /\{\{(.+?)\}\}/g
};

var template = Die.template("Hello {{ name }}!");
template({name : "Mustache"});
=&gt; "Hello Mustache!"</pre>

  <p>
    By default, <b>template</b> places the values from your data
    in the local scope via the <tt>with</tt> statement.  However,
    you can specify a single variable name with
    the <b>variable</b> setting. This can significantly improve
    the speed at which a template is able to render.
  </p>

<pre class="prettyprint linenums language-js">
Die.template("Using 'with': <%= data.answer %>", {answer: 'no'}, {variable: 'data'});
=&gt; "Using 'with': no"</pre>

  <p>
    Precompiling your templates can be a big help when debugging
    errors you can't reproduce.  This is because precompiled
    templates can provide line numbers and a stack trace,
    something that is not possible when compiling templates on the
    client.  The <b>source</b> property is available on the
    compiled template function for easy precompilation.
  </p>

<pre class="prettyprint linenums language-js">&lt;script&gt;
  JST.project = <%= Die.template(jstText).source %>;
&lt;/script&gt;</pre>

<script src="vendor/google-code-prettify/prettify.js"></script>
<script>
  // make code pretty
  window.prettyPrint && prettyPrint()
</script>

</body>
</html>
