<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>embec.js</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="assets/style.css" rel="stylesheet">
</head>
<body>

<header class="page-header">
  <h1 style="">embec.js</h1>
  <h2 style=""><span>Emb</span>edded <span>Ec</span>maScript - a
  JavaScript templating engine</h2>
</header>

<section>
  <h2>Intro</h2>
  <p>Embec is dumb and probably isn't what you're looking for. It's a
  template engine with no frills, no gulps, webpacks, Jakes, YAML,
  package.json—it's just one small file and no dependencies.</p>
  <p>What can it do? All the normal templating stuff: interpolate,
  flow control, includes, and blocks.</p>
  <p>What it will never do? File IO, impose a stucture or a style on
  your project.</p>
  <p>Don't use Embec! It isn't what you're looking for. Don't you want
  to use React/JSX? That way you can write <tt>&lt;GarbageComponent
  attr="yuck"&gt;</tt> like is '96 and SGML is all the rage?</p>
</section>

<section>
  <div class="row">
    <div class="">
      <h2>Tags</h2>
      <p>Embec tags are where you tell the template compiler to stop
      copying and to start doing some processing. All tags start
      with <tt>&lt;%</tt> and end with <tt>%&gt;</tt>.</p>
    </div>
    <div class="">
      <h3>Description</h3>
      <p>Embec has several tags.</p>
      <dl>
        <dt><tt>&lt;% %&gt;</tt></dt>
        <dd>Statement tag</dd>
        <dt><tt>&lt;%= %&gt;</tt></dt>
        <dd>Interpolate tag</dd>
        <dt><tt>&lt;%# %&gt;</tt></dt>
        <dd>Comment tag</dd>
      </dl>
    </div>
  </div>

  <div class="row">

    <div class="">
      <h3>Example</h3>
<script id="tag-example" type="x/embec">
<% for (let item of [10, 20, 30]) { %>
<p><%= item %></p>
<% } %>
</script>
<pre id="tag-display" class="prettyprint linenums"></pre>
    </div>

    <div class="">
      <h3>Output</h3>
<pre id="tag-output"></pre>
    </div>

  </div>
</section>

<script src="rewrite.js"></script>
<script src="vendor/google-code-prettify/prettify.js"></script>
<script>
var examples = document.querySelectorAll('[id$="-example"]')
for (let example of examples) {
    let name = example.id.replace('-example', '')
    let body = example.textContent
    let display = document.getElementById(`${name}-display`)
    display.innerText = body.trim()
    let tmpl = new Template(body)
    let output = document.getElementById(`${name}-output`)
    output.innerText = tmpl()
}

window.prettyPrint && prettyPrint()
</script>
</body>
</html>
